/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FF7F50;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #FFD700;
}

/* Style the main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

h1,h3,h4,h5,h6 {
  font-size: 25px;
  margin: 0;
  color: #000000  
}

h2 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ddd;
  font size: 5em;
  font-family: sans-serif
  letter spacing: 0.2em;  
}

h2 span {
 display: inline-block; 
  animation: animate 1s linear infinite;
}

@keyframes animate 
{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity:1;
  }
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

